@charset "utf-8";
/* CSS Document */
.container
{
	font-size: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #fab6d0;
	margin: 10px;
	padding: 110px;
}
.img
{   
	display: flex;
	height: auto;
}
img
{
	width: 43%;
	margin: 10px;
}
.zoom
{
	background-image:url(https://images.unsplash.com/photo-1476891626313-2cecb3820a69?auto=format&fit=crop&w=608&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
	width:50%;
	margin:10px;
}
.items
{
	text-align: justify;
	margin: 10px;
}
.line
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 50%;
}
h1
{text-align: center;}